<h3>Editing user</h3>

<%= render "form", user: @user %>

<div class="row">
  <%#= link_to "Show this user", manage_path(@user)  %>
  <%= link_to "Back to users", manage_index_path ,class: "btn btn-outline-primary"%>
</div>
	